button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(32, 32, 32);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

#calculator {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display {
    width: 50%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: black;
    color: white;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

button:hover {
    background-color: #5f5f5f;
}

button:active {
    background-color: #d9d9d9;
}

.operator-btn {
    background-color: orange;
}

.operator-btn:hover {
    background-color: rgb(255, 213, 146);
}
.operator-btnz:active{
    background-color:white ;
}